/* TODO: highlight.js for Diego */
.language-diego { color: red !important; } 

/* Make code less in-your-face! */
code {
    color: darkslategrey !important;
    border: 0 !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    background-color: transparent !important;
}

/* Don't waste real-estate */
.wy-nav-content { max-width: 100% !important; }

/* Centre graphs */
div.mermaid { text-align: center; }

/* Hide the usless headers */
div[aria-label="breadcrumbs navigation"] {
    display: none;
  }
